.bg-transparent{position: relative;padding: 100px 0;}
.bg-transparent::after {content: "";noneposition: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  width: 10%;
  height: 10%;
  background-image: url("./image/haikei.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;}


